// utils colors
$warning  : #C10015;

// main colors
$log-main-bg : #A5A5A5;
$log-second-bg : #D2D2D2;
$log-form-bg : #F4F4F4;
$log-lighter-bg : #CDC8C2;
$log-footer-bg : #DCDCDC;
$log-main : #053430;
$log-main-link : #13781D;
$log-second : #36D432;

// font colors
$log-main-font : #414141;
$log-second-font  : #2C2C2C;
$log-font-dark : #FFFFFF;
